= nested_form_for(@todo) do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2
        = pluralize(@todo.errors.count, "error")
        prohibited this todo from being saved:

      %ul
        - @todo.errors.full_messages.each do |msg|
          %li
            = msg

  .todo_name
    = f.text_field :name
    
  .tasks
    = f.fields_for :tasks do |task_f|
      = task_f.text_field :name

  .actions
    = f.submit :class=>"create_todo"
