!!!
%html
  %head
    %title QuickTodo
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag "jquery", "rails", "nested_form", "application"
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'  

    = yield :header
    = csrf_meta_tag
  %body
    .wrapper

      .header
        %span{:class=>"name_quick"}>< quick
        %span{:class=>"name_todo"}>< TodoList

      -if notice
        .notice
          =notice

      .content
        = yield

      .footer
        
