!!!
%html
  %head
    %title QuickTodo
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag "jquery", "rails", "nested_form"
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'  

    = yield :header
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .wrapper

      .header
        .app_name
          %a{:href=>"/"}
            %span{:class=>"name_quick"}>< quick
            %span{:class=>"name_todo"}>< TodoList
            
        - if params[:action]=="show"
          %br
          = link_to "want to create another?", root_url

      -if notice
        .notice
          =notice

      .content
        = yield

      .footer
        quickTodoList by 
        =link_to "Akash Manohar", "http://akash.im"
        %br
        =link_to image_tag("github_icon.png"), "http://github.com/SingAlong/quicktodo"
        \:
        =link_to "http://github.com/SingAlong/quicktodo", "http://github.com/SingAlong/quicktodo"
        
